@import "../../node_modules/normalize.css/normalize";
@import "_reset";
@import "_mixins";
@import "_fonts";
@import "_vars";
@import "_header";
@import "_footer";

/* Main */
*,
*::after,
*::before {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: yellowgreen;
  @media screen and (orientation: portrait) {
    flex-direction: column;
  }
}

.test {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.test__row {
  display: flex;
  width: 100%;

  @media screen and (orientation: portrait) {
    flex-wrap: wrap;
  }
}

.test__row + .test__row {
  margin-top: 16px;
}

.test__row :nth-child(3),
.test__row :nth-child(4) {
  @media screen and (orientation: portrait) {
    margin-top: 16px;
  }
}

.test__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  flex-grow: 1;
  justify-content: center;
  padding: 16px;
}

.test__menu {
  height: 80px;
  background-color: white;
  border-top: 1px solid #686868;
  display: none;
}

.psych {
  display: flex;
  justify-content: center;
  width: 25%;
  height: auto;

  @media screen and (orientation: portrait) {
    width: 50%;
  }
}

.psych__img {
  display: block;
  object-fit: cover;
  width: 92%;
  border-radius: 2px;
  transition: box-shadow 0.2s linear;
  cursor: pointer;
}

.psych__img:hover {
  box-shadow: 0 0 6px #0a0a0a;
  border-radius: 0;
}

/* main menu */
.main_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
  background-color: #262626;
  width: 80px;
  height: 100%;
  flex-shrink: 0;
  @media screen and (orientation: portrait) {
    flex-direction: row;
    padding: 0 8px 0 16px;
    width: 100%;
    height: 60px;
    order: -1;
  }
}
/* end main menu */

/* burger */
.burger {
  position: relative;
  width: 44px;
  height: 24px;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  margin-left: -8px;
  &:hover .burger__line {
    background-color: #cccccc;
  }
}
.burger__line {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #b9b9b9;
  border-radius: 4px;
  transition: transform 0.2s linear;
}
.burger__line:nth-child(1) {
  position: absolute;
  top: 0;
}
.burger__line:nth-child(3) {
  position: absolute;
  bottom: 0;
}
.burger.active .burger__line:nth-child(2) {
  transform: scale(0);
}
.burger.active .burger__line:nth-child(1) {
  transform: rotate(45deg) translate(14px);
}
.burger.active .burger__line:nth-child(3) {
  transform: rotate(-45deg) translate(14px);
}
/* end burger */

/* test_menu */
.test_menu {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  @media screen and (orientation: portrait) {
    margin: 0;
    margin-left: auto;
    flex-direction: row;
  }
}
/* end test_menu */

/* btn */
.btn + .btn {
  @media screen and (orientation: landscape) {
    margin-top: 6px;
  }
  @media screen and (orientation: portrait) {
    margin-left: 6px;
  }
}

.btn {
  width: 66px;
  height: 46px;
  border-radius: 6px;
  cursor: pointer;
  font-family: Exo2;
  font-size: 15px;
  color: #171717;
  transition: 0.2s linear;
}

.nextset_btn {
  border: 1px solid #0c3c0c;
  background-color: #2f7b1a;
}

.nextset_btn:hover {
  background-color: #1e600c;
}

.return_btn {
  background-color: #934343;
  border: 1px solid #421b1b;
}

.return_btn:hover {
  background-color: #9f3333;
}
/* end btn #934343*/
