@import "../../node_modules/normalize.css/normalize";
@import "_reset";
@import "_mixins";
@import "_fonts";
@import "_vars";
@import "_core";
@import "_header";
@import "_footer";

/* Main */
*,
*::after,
*::before {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: 80px 1fr;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  align-items: center;
  padding: 20px;
  // width: 100vw;
  // height: 100vh;
}

.card {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.psych {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-image: url(../img/1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: box-shadow 0.2s linear;
  cursor: pointer;
  border: 1px solid #797979;
}

.psych:hover {
  box-shadow: 0 0 6px #0a0a0a;
  border-radius: 0;
}

.menu {
  background-color: #171717;
  width: 80px;
}
